<div>
  <div>
    <mat-form-field>
      <mat-label>Pick component</mat-label>
      <mat-select
        (valueChange)="componentKey($event)"
        [value]="model().componentKey"
        required
      >
        <mat-option value=""><em>Default</em></mat-option>
        @for (template of templateKeys(); track template) {
          <mat-option [value]="template">{{ template }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>Selector (JSONPath format)</mat-label>
    <input
      matInput
      (ngModelChange)="selector($event)"
      [ngModel]="model().selector"
      required
    />
  </mat-form-field>
  @if (isBrowser) {
    <div style="height: 400px" class="container">
      <ngx-monaco-editor
        [ngModel]="model().mapper"
        (ngModelChange)="mapper($event)"
        [options]="editorOptions"
        class="code-editor"
        style="height: 100%"
      ></ngx-monaco-editor>
    </div>
  }
</div>
